body {
    background-color: rgb(75, 73, 73);
}

h1 {
    text-align: center;
    color: rgb(158, 152, 152);
    margin-top: 2%;
    margin-bottom: 2%;
}

h3 {
    color: rgb(158, 152, 152);
    font-size: 3em;
}

.questions-section { 
    display: grid;
    gap: 1em;
    margin: 0.5em;
}

@media(min-width: 1000px) {
    .questions-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}

.individual-questions {
    color: black;;
    background: rgba(243, 247, 248, 0.88); 
    border-color: rgba(173,206,195,.38);
    border: solid 1px;
    border-color: rgba(210,225,236,.88);
    border-radius: 3px 10px 3px 3px;
    padding: 0.7em;
}

.individual-questions:hover {
    border: solid 1px blue;
    background: rgba(215, 239, 245, 0.88);
    cursor: pointer;
}

.output-div {
    text-align: center;
}

#output {
    color: rgb(158, 152, 152);
    font-size: 3em;
    }